@import './colors.scss';

@mixin glow($color){
    text-shadow: 1px 0 5px $color, -1px 0 5px $color, 0 1px 5px $color, 0 -1px 5px $color;
}

#copy{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    left: 0;
    top: 105%;
    background-color: rgb(116, 116, 116);
    padding: 3px;
    border-radius: 5px;
    font-size: 1.25vh;
    text-align: center;
}


#contacts-box{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 3vw;
    top: 2vh;
    list-style: none;
    height: 10vh;
    width: 18vw;
    font-family: sans-serif;
    color: white;
    font-size: 2vh;
    .contact{
        font-size: 7vh;
        color: $red;
    }
    li{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
    z-index: 2;
}

// .fa-envelope{
//     @include glow(rgba(255, 0, 0, 0.5));
//     color: rgb(255, 0, 0);
// }

// .fa-linkedin{
//     @include glow(rgba(0, 0, 255, 0.5));
//     color: rgba(0,0,255);
// }

// .fa-github{
//     @include glow(rgba(255, 166, 0, 0.5));
//     color: black;
// }