$red: #ff5349; // (Base Color): This is your starting color, a vibrant red-orange.
                 //Now, let's create a palette by adding complementary and analogous colors:

$light-red: #ff766f; //: This is a slightly lighter and more muted version of your base color. It complements #ff5349 and adds some variation.

$lighter-red: #ffafab;

$lightest-red: #ffe0df;

$dark-red: #cf2a21; //: A bright, warm yellow that complements the red-orange base color.

$pink: #ff497d; //: An analogous color that leans towards pink. It provides a nice contrast to the warm red-orange.

$blue: #495bff; //: A contrasting, cool blue color that can be used as an accent to balance the warm tones of the palette.

$green: #8cff49; //: A bright green that complements the other colors and adds a fresh element to the palette.