@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Open+Sans&display=swap');

$monsterrat: 'Montserrat', sans-serif;

#projects-grid{
    // *{
    //     user-select: none;
    // }
    cursor: pointer;
    width: 80%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
    margin-top: 2vh;
    .projects-grid-item{
        position: relative;
        &::before{
            content: "";
            width: 100%;
            height:100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            z-index: 1;
            transition: 0.2s;
        }
        padding: 10px;
        width: 33%;
        height: 75%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgba(125, 125, 125);
        .projects-title{
            font-size: 3vh;
        }
        .projects-blurb{
            font-size: 2vh;
            margin: auto 0 0 0;
        }
        .img-container{
            position: relative;
            width: 100%;
            height: 65%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

@keyframes pulse {
    0%{
        background-color: rgba(0, 0, 0, 0.6);
    }
    16%{
        background-color: rgba(0, 0, 0, 0);
    }
    33%{
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@mixin pulse-child($num){
    &:nth-child(#{$num})::before{
        animation-name: pulse;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        animation-delay: ($num - 1)*2s;
    }
}

.projects-grid-item{
    font-family: 'Montserrat', sans-serif;
    &:visited{color: inherit}
    position: relative;
    @for $i from 1 to 7{
        @include pulse-child($i);
    }
    &::before{
        background-color: rgba(0, 0, 0, 0.6);
    }
}

#projects-grid:hover{
    .projects-grid-item::before{
        animation: none;
    }
    .projects-grid-item:hover::before{
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
    }
}

.projects-technologies{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 5px;
    margin: auto 0;
    padding: 0;
    li{

        background-color: rgba(125, 125, 125, 0.5);
        border-radius: 5px;
        padding: 1px 5px;
        font-size: 1.5vh;
        // cursor: default;
    }
}