@import url("fontawesome-all.min.css");

#header img {
    border-radius: 50%;
    width: 20%;
}

#blurb {
    font-size: larger;
}

.major-icons{
    display:  grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.major-icons li {
    /* border: 1px solid red; */
    padding: 0 !important;
    height: clamp(30px, 20vh, 150px)
}
.colored {
    font-size: clamp(20px, 5rem, 50px)
}
.education img {
    width: clamp(100px, 10vw, 300px);
}

#gmail{
    position: relative;
}



#two, #three, #four, #five{
    padding-top: 10px;
}

#contact-list li{
    list-style: none;
    margin-bottom: 5px;
    padding: 2px;
    cursor: pointer;
}

#four img {
   /* max-height: 200px; */
   object-fit: scale-down;
}
#four h3 {
   margin: 0;
}

.project.image{
    display: flex;
    overflow: hidden;
    height: clamp(200px, 10vh, 300px);
}

#copy{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    left: 100%;
    color: grey;
    top: 0%;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 980px) {
    #one img{
        display: none;
    }

    section{
        height: max-content;
    }
}

section{
    margin-bottom: 200px;
    height: max-content;
    padding-bottom: 10px !important;
}

section:last-of-type{
    margin-bottom: 0;
}

#header{
    height: 100vh;
    margin-bottom: 0;
}

body {
    background-color: #4686a0;
    background-attachment: fixed,							fixed,							fixed;
    background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-position: top left,						center center,					center center;
    background-size: auto,							cover,							cover;
}